.beer-single {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 1em;
  img {
    width: 5em;
    padding-left: 30%
  }
  h1 {
    font-size: 1.5em;
    font-weight: 300;
    color: #02aab0;
    width: 90%;
  }
  p {
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
