.form {
  display: flex;
  flex-direction: column;
  input,
  textarea {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
    font-family: inherit;
  }
  label {
    margin: 0 1em;
    font-weight: 100;
  }
  button {
    background-image: linear-gradient(to right, #02aab0 0%, #00cdac 51%, #02aab0 100%);
    color: inherit;
    padding: 1em;
    border: none;
    color: white;
    margin: 1em 5em;
    border-radius: 2em;
  }
}




